<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81532492301-5ig1q3db2m616o8j3e1pvisj1u2014cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81532492301-5ig1q3db2m616o8j3e1pvisj1u2014cr</string>
	<key>API_KEY</key>
	<string>AIzaSyA9x6PcuCtnmHcF94OHYn34Y9_kT6fPZnI</string>
	<key>GCM_SENDER_ID</key>
	<string>81532492301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-Twitter.UberCabsApplication</string>
	<key>PROJECT_ID</key>
	<string>ubercabsapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>ubercabsapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81532492301:ios:3a46e460dd4b11fa1d9344</string>
</dict>
</plist>